:root{
    --color-one:#6a031f;
    --color-two:#bd0760;
    --color-three:#edb7fc;
    --color-four:#cb6ce6;
    --color-five:#9f0498;
    --color-six:#5c219f;

}


body{
    background-color:rgb(241, 242, 251);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 1800px;
}

#hex-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:700px;
    height: 60px;  
}

.hex{
    margin: 22px;
    font-size: 1.2rem;
}

/* 
    #ce1b7d
    #8e0332
    #9f0498 - logo purple
    #5c219f - report purple
*/

img{
    width: 500px;
}

#theme-one{
    margin-top: 140px;
    background: linear-gradient(
        to right,
        var(--color-one) 16.66%,
        var(--color-two) 16.66% 33.32%,
        var(--color-three) 33.32% 49.98%,
        var(--color-four) 49.98% 66.64%,
        var(--color-five) 66.64% 83.3%,
        var(--color-six) 83.3%
    );

    width: 700px;
    height: 300px;
    box-shadow: 0px 5px 8px -2px rgb(92, 90, 90);
    border-radius: 25px;

}

#theme-two{
    margin-top: 140px;
    background: linear-gradient(
        to right,
        rgba(253, 219, 53, 0.642) 
        16.66%,
        rgba(250, 244, 214, 0.915) 
        16.66% 33.32%,
        rgba(253, 141, 66, 0.896) 
        33.32% 49.98%,
        rgb(254, 115, 17) 
        49.98% 66.64%,
        rgb(204, 91, 15) 
         66.64% 83.3%,
        rgb(171, 65, 0) 
        83.3%
    );
    width: 700px;
    height: 300px;
    box-shadow: 0px 5px 8px -2px rgb(92, 90, 90);
    border-radius: 25px;

}


#theme-three{
    margin-top: 140px;
    background: linear-gradient(
        to right,
        rgba(253, 219, 53, 0.642) 
        16.66%,
        rgba(250, 244, 214, 0.915) 
        16.66% 33.32%,
        rgba(253, 141, 66, 0.896) 
        33.32% 49.98%,
        rgb(254, 115, 17) 
        49.98% 66.64%,
        rgb(204, 91, 15) 
         66.64% 83.3%,
        rgb(171, 65, 0) 
        83.3%
    );
    width: 700px;
    height: 300px;
    box-shadow: 0px 5px 8px -2px rgb(92, 90, 90);
    border-radius: 25px;

}

#theme-four{
    margin-top: 140px;
    background: linear-gradient(
        to right,
        rgb(91, 8, 15) 16.66%,
        rgba(187, 7, 22, 0.927) 16.66% 33.32%,
        rgba(204, 215, 248, 0.886)33.32% 49.98%,
        rgba(143, 167, 232, 0.581)49.98% 66.64%,
        rgba(33, 54, 111, 0.791) 66.64% 83.3%,
        rgba(28, 42, 78, 0.938) 83.3%
    );
    width: 700px;
    height: 300px;
    box-shadow: 0px 5px 8px -2px rgb(92, 90, 90);
    border-radius: 25px;

}